h1 {
    text-align: center;
    font-size: 50px;
}

body {
    background-color: green;
    margin: 30px;
    border: 20px solid black;
    padding: 35px;
    font-size: 25px;
    font-style: normal;
}